/* width */
::-webkit-scrollbar {
    width: 8px;
}
  
/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1; 
}
   
/* Handle */
::-webkit-scrollbar-thumb {
    background: #888; 
}
  
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555; 
}

/* Style the tab content */
.tabcontent {
    display: none;
}
.spacing{
    height: 80px;
}    
.spacing2{
    height: 20px;
}
.my-custom-scrollbar {
    position: absolute;
    height: 500px;
    overflow: auto;
}
.mid{
    width: 640px;
}
.mid2{
    width: 800px;
}
.num{
    width: 15px;
}
.type{
    width: 190px;
}
.type2{
    width: 260px;
}

.table-wrapper-scroll-y {
    display: block;
}

.pic{
    width:250;
    height:200;
    margin:20;
}
.btn{
    background-color: #555555;
    color: #e7e7e7; 
}
.dropdown-menu li a:not(:last-child) {
    border-bottom: none; /* Prevent double borders */
  }

  .dropdown-menu li a{
    display: block;
    background-color: #e7e7e7; 
    color: black;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    padding: 5px 5px;
}

.dropdown-menu li a:hover{
    display: block;
    background-color: #aaaaaa; 
    color: black;
    padding: 5px 5px;
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: rgb(255, 148, 148);}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: #f77272;}
    
body{
    font-family: 'Mitr', sans-serif;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color:rgb(37, 37, 37);
    text-align: center;
    padding-top: 1%;
 }